<a href="https://colab.research.google.com/github/Ariel-Pineapple/Tema13y14Python/blob/main/TEMA_13_Y_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

# Amazon Sales Dataset EDA

# TEMA 13

"Universidad Tecmilenio está sumamente comprometido con la protección de datos personales, por lo que se prohibe la distribución en video / fotografía, sin previo aviso y expreso consentimiento de los titulares en la sesión virtual".

"Te recordamos que esta clase será grabada con la finalidad de seguimiento académico y de apoyo escolar para los estudiantes"

## Funciones en Python

**Problema:** Quiero un programa en python que reciba donde el usuario ingrese una cadena de texto y el programa imprima cunatos caracteres ingresó el usuario.
¿Cómo lo resolverías?

In [ ]:
texto_usuario = input("Escribe un texto: ") # Recordemos que input es una función

Escribe un texto: Hola

In [ ]:
contador = 0
for caracter in texto_usuario:
    contador += 1
print(contador) # print() también es una función

4

In [ ]:
len(texto_usuario)

4

In [ ]:
def input(ARGUMENTOS):
    SENTENCIAS
    ...
    RETURN [EXPRESION]

Cómo calculamos el área de un triangulo

In [ ]:
# Sin funciones

base = 5
altura = 7
area = (base * altura) / 2
print(area)

17.5

In [ ]:
# PROGRAMA QUE CALCULA EL ÁREA DE UN TRÍANGULO

def area_triangulo(base, altura): #Base y Altura son los parámetros
    area = (base * altura) / 2
    return area

In [ ]:
area_triangulo(5, 7) # 5 y 7 son los argumentos

17.5

### Parámetros de una función


* Parámetros: son los valores que definimos en una función.
* Argumentos: son los valores que introduciomos en la función en el momento de ejecución.

* Argumentos por posición:  
* Argumentos por nombre:

In [ ]:
def area_triangulo(base=5, altura=7):
  area = (base * altura) / 2
  return area

In [ ]:
area_triangulo()

17.5

In [ ]:
def area_triangulo(base=10, altura=10):
  area = (base * altura) / 2
  return area
area_triangulo()

50.0

### Parámetros Indeterminados


* Argumentos por posición

* Argumentos por nombre:

In [ ]:
def imprime_numeros(*args):
    for numero in args:
        print(numero)

imprime_numeros(1, 2, 3, 4, 5)

1
2
3
4
5

In [ ]:
def imprime_numeros(**kwargs):
    for clave, valor in kwargs.items():
        print(f"{clave}: {valor}")

imprime_numeros(uno=1, dos=2, tres=3)

uno: 1
dos: 2
tres: 3

# Retorno de Valores

In [ ]:
def potencia(base, exponente):
    return base ** exponente

In [ ]:
def ejemplo():
    return "Hola Mundo", 365, [3,90]


var1, var2, var3 = ejemplo()

In [ ]:
def potencia(base, exponente):
    """
    Calcula la potencia de una base elevada a un exponente.

    Argumentos:
        base (int): La base de la potencia.
        exponente (int): El exponente de la potencia.

    Returns:
        int: El resultado de la potencia.
    """
    return base ** exponente

In [ ]:
help(potencia)

Help on function potencia in module __main__:

potencia(base, exponente)
    Calcula la potencia de una base elevada a un exponente.

    Argumentos:
        base (int): La base de la potencia.
        exponente (int): El exponente de la potencia.

    Returns:
        int: El resultado de la potencia.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### Módulo math

In [ ]:
import math

In [ ]:
# Funciones aritméticas

# fabs(x): Devuelve el valor absoluto de x.

math.fabs(-1234)

1234.0

In [ ]:
# gcd(x,y):  función que devuelve el máximo común divisor de dos valores x, y.

math.gcd(34, 82)

2

In [ ]:
# floor(x) Función que devuelve el valor enterno más grande que sea menor o igual a x.

math.floor(287.9387)

287

In [ ]:
# ceil(x) devuelve el valor entero más pequeño que sea mayor o igual a x.

math.ceil(5.623)

6

In [ ]:
# factorial(x): calcula el factorial del número x.

math.factorial(5)

120

In [ ]:
# trunc(x): Devuelve la parte entera del número x.

math.trunc(5.623)

5

# Funciones Trigonométricas

In [ ]:
# sin(x) devuelve el valor del seno del ángulo x en radianes.

math.sin(math.pi / 4)

0.7071067811865475

In [ ]:
# cos(x): devuelve el valor del coseno del ángulo x en radianes

math.cos(math.pi)

-1.0

In [ ]:
# tan(x) devuelve el valor de la tangente del ángulo x en radianes.

math.tan(math.pi / 4)

0.9999999999999999

In [ ]:
# asin(x): calcular el valor del ángulo para que su seno sea x.

math.asin(1)

1.5707963267948966

In [ ]:
# acos(x): calcula el valor del ángulo para que su coseno sea x.

math.acos(1)

0.0

In [ ]:
# atan(x): calcular el valor del ángulo para que la tangente sea x.

math.atan(1)

0.7853981633974483

In [ ]:
# hypot(x,y): calcular la longitud de la hipotenusa de un triángulo rectángulo a partir de los valores de los catetos (x,y).

math.hypot(3, 4)

5.0

# Funciones exponenciales y logarítmicas

In [ ]:
# log(x, [base])


#math.log(100) # por defecto se calcula sobre la base e.
#math.log(100, 10)
math.log(148.123455, 2)

7.210656295850008

In [ ]:
# log2(x):

math.log2(148.123455)

7.210656295850008

In [ ]:
# log10(x)

math.log10(1829.2028382)

3.2622618665625924

In [ ]:
# pow(x,y)

math.pow(2, 3)

8.0

In [ ]:
# sqrt(x):

math.sqrt(25)

5.0

In [ ]:
math.pi

3.141592653589793

In [ ]:

math.e

2.718281828459045

# Módulo sys

In [ ]:
import sys

print("Argumentos recibidos", sys.argv)

nombre = sys.argv[1]
edad = int(sys.argv[2])

print("Hola", nombre)
print("edad", edad)

Argumentos recibidos ['/usr/local/lib/python3.12/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-f1c28885-f9c2-4a7c-a69f-3e7345486384.json']

ValueError: invalid literal for int() with base 10: '/root/.local/share/jupyter/runtime/kernel-f1c28885-f9c2-4a7c-a69f-3e7345486384.json'

In [ ]:
python test.py hola 25

SyntaxError: invalid syntax (ipython-input-3130411613.py, line 1)

In [ ]:
def greet(name, age):
  """Greets a person with their name and age."""
  print(f"Hello, {name}! You are {age} years old.")

# Call the function with arguments
greet("Alice", 30)
greet("Bob", 25)

Hello, Alice! You are 30 years old.
Hello, Bob! You are 25 years old.

In [ ]:

import sys
# argv:

python test.py Hola 25


sys.argv


# executable:

#sys.executable


sys.version

sys.platform

#sys.exit()

#sys.getdefaultendcoding()

SyntaxError: invalid syntax (3456286537.py, line 4)

In [ ]:
Módulo OS

In [ ]:
import os

In [ ]:
print("Directorio actual:", os.getcwd())

Directorio actual: /content

In [ ]:
print("Archivos en la carperta actual:")
print(os.listdir())

Archivos en la carperta actual:
['.config', 'sample_data']

In [ ]:
#Crear carpeta

os.mkdir("EJERCICIOS_PYTHON")

In [ ]:
print("Contenido actual", os.listdir())

Contenido actual ['.config', 'EJERCICIOS_PYTHON', 'Nueva_Carpeta', 'sample_data']

In [ ]:
from os import rmdir
os.rmdir("Nueva_Carpeta")

In [ ]:
from os import rename
os.rename("test.py", "test2.py")

FileNotFoundError: [Errno 2] No such file or directory: 'test.py' -> 'test2.py'

In [ ]:
# Cambiar de directorio

print("Antes:", os.getcwd())
os.chdir("/content/sample_data")
print("Después:", os.getcwd())

Antes: /content
Después: /content/sample_data

In [ ]:
# Variables del sistema

print("Usuario actual:", os.getenv("USERNAME"))
print("Directorio de trabajo:", os.getenv("PWD"))

Usuario actual: None
Directorio de trabajo: /

In [ ]:
os.system("mkdir Nueva_Carpeta")

0

In [ ]:
%%writefile test.py
import sys


nombre = sys.argv[1]
edad = sys.argv[2]

Overwriting test.py

In [ ]:
import sys
!python test.py Ariel 33

In [ ]:
import os.path

In [ ]:
abs_path = os.path.abspath("test2.py")
print("Ruta absoluta:", abs_path)

Ruta absoluta: /content/test2.py

In [ ]:
# basename(ruta)

os.path.basename(abs_path)

'test2.py'

In [ ]:
os.path.exists(abs_path)

True

In [ ]:
from genericpath import isfile
os.path.isfile('test3.py')

False

In [ ]:
os.path.isdir('/Nueva_Carpeta')

False

# Módulo random

In [ ]:
import random
random.randint(1,10)

7

In [ ]:
random.choice([1, 2, 3, 4, 5])

1

In [ ]:
lista = ['Hola Mundo', 3, [3,2], True]
random.shuffle(lista)
lista

[3, 'Hola Mundo', True, [3, 2]]

In [ ]:
lista = ['Hola Mundo', 3, [3,2], True]
random.shuffle(lista)
lista

['Hola Mundo', [3, 2], True, 3]

In [ ]:
import random

#randint(x,y): devolver un número aleatorio entre x y y.
#choice(secuencia):

random.choice([1, 2, 3, 4, 5])

#shuffle(secuencia): permutar los elementos de una secuencia de forma aleatoria.

lista = ['Hola Mundo', 3, [3,2], True]

random.shuffle(lista)

lista


# sample(secuencia, n): devuelve n elementos aleatorios de una secuencia

random.sample(lista,2)

['Hola Mundo', True]

# Funciones Anónimas/Lambda.

**Características:**

1. Anónimas: No tienen nombre (a menos que se les asigne una variable)
2. Una sola expresión: Solo pueden contener una expresión
3. Sin return: La expresión se devuelve automáticamente
4. De una línea: Muy concisas

In [ ]:
def NOMBRE_FUNCION(ARGUMENTOS):
    SENTENCIAS
    ...
    RETURN [EXPRESION]

In [ ]:
#Función Normal
def cuadrado(x):
    resultado = x ** 2
    return resultado

cuadrado(5)

25

In [ ]:
from ast import expr
#Función Anónima

# lambda parámetro_1, parámetro_2: expresión

lambda x: x ** 2

cuadrado = lambda x: x ** 2

cuadrado(5)

25

In [ ]:
# Definir la lista con números a analizar.

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Definir una expresión lambda que analiza si un número es par o no.

es_par = lambda numero: numero %2 == 0

#Aplicar el filtro e insertarlo en una lista
list(filter(es_par, lista))
#

[2, 4, 6, 8, 10]

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x: x ** 2, lista))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Ejercicio de Lógica - Programación:

EJERCICIOS DE LÓGICA

1. PalindromoEscriba una función para definir si una palabra es palidromo o no, en caso de que sea deberá regresar un TRUE, en caso de que no, debería regresar un FALSE. Un  palíndromo es una palabra que se lee igual al derecho y al revés (por ejemplo: "oso", "reconocer").

2. Vocales
Dada una frase, cuentas cuantas vocales hay y dime cada tipo de ellas
Solicita al usuario una frase y cuenta cuántas vocales hay.


3.  Palabras al reves
Escribe un programa que invierta el orden de los caracteres en una frase
Ejemplo: "Hola mundo" → "odnum aloH"


4. Comparación de listas
 Dadas lista_a, lista_b y lista_c, determina si alguna de ellas se encuentra dentro de la otra

list_1 = [1, 2]
list_2 = [1, 2, 6]
list_3 = [1, 2, 3, 4, 5]

Estas son las que debes validar
print(fun(list_1, list_3)) # True
print(fun(list_2, list_3)) # False



5. Pide una frase y elimina todas las vocales."computadora" → "cmptdr"


6.Anagramas
 Escriba una función que tome dos cadenas como entrada y devuelva VERDADERO si son anagramas entre sí, y FALSO en caso contrario. Los anagramas son palabras o frases que se forman reorganizando las letras de otra palabra o frase. s1, s2 = "escuchar", "silencio"

# TEMA 14

## Clases y Objetos


* Una clase es un molde. Define las características (atributos= y los comportamientos (métodos) que algo tendrá.

* Un objeto es la instancia real creada a partir de ese molde. Se pueden crear muchos objetos a partir de una sola clase.

In [ ]:
class Coche:

  # Método constructor: Se ejecuta para construir el objeto (ej. Coche rojo marca toyota)
  def __init__(self, color, marca):
    self.color = color
    self.marca = marca
    self.encendido = False

    def arrancar(self):
      if not self.encendido:
        self.encendido = True
        print(f"El coche {marca} {color} está encendido")
      else:
        print("El coche ya está encendido")

    def describir(self):
      print(f"El coche es de color {self.color} y es marca {self.marca}")

In [ ]:
# Creamos objetos

mi_tesla = Coche("rojo", "Tesla")
tu_mazda = Coche("azul", "Mazda")

In [ ]:
# Uso de los objetos

print(f"Mi coche es un {mi_tesla.marca} {mi_tesla.color}")

Mi coche es un Tesla rojo

In [ ]:
print(f"Tu coche es un {tu_mazda.marca} {tu_mazda.color}")

Tu coche es un Mazda azul

In [ ]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def saludar(self):
        print(f"Hola, mi nombre es {self.nombre} y tengo {self.edad} años.")

In [ ]:
p1 = Persona("Juan", 25)
p2 = Persona("María", 30)

In [ ]:
p1.saludar()
p2.saludar()

Hola, mi nombre es Juan y tengo 25 años.
Hola, mi nombre es María y tengo 30 años.

In [ ]:
class carro:
  def __init__(self, marca, velocidad=0):
    self.marca = marca
    self.velocidad = velocidad

  def acelerar(self, incremento):
    self.velocidad += incremento

In [ ]:
auto = carro("Toyota")
auto.acelerar(50)
auto.acelerar(80)
print(auto.velocidad)

130

## Herencia

In [ ]:
class Persona:
  def __init__(self, nombre, edad):
    self.nombre = nombre
    self.edad = edad

  def saludar(self):
    print(f"Hola, mi nombre es {self.nombre} y tengo {self.edad} años.")


class Estudiante(Persona):
  def __init__(self, nombre, edad, grado):
    super().__init__(nombre, edad)
    self.grado = grado

  def estudiar(self):
    print(f"Estoy estudiando en el grado {self.grado}")


e = Estudiante("Juan", 18, "Secundaria")
e.saludar() # Método heredado de la clase Persona
e.estudiar() # Método propio de la clase Estudiante

Hola, mi nombre es Juan y tengo 18 años.
Estoy estudiando en el grado Secundaria

In [ ]:
from _typeshed import Self
class CuentaBancaria:
  def __init__(self, saldo):
    self.__saldo = saldo # atributo privado

  def depositar(self, cantidad):
    self.__saldo += cantidad

  def mostrar_saldo(self):
    print(f"Saldo actual: ${self.__saldo}")

 # Uso

cuenta = CuentaBancaria(1000)
cuenta.depositar(500)
cuenta.mostrar_saldo()

 #print(cuenta.__saldo)

ModuleNotFoundError: No module named '_typeshed'

In [ ]:
cuenta = CuentaBancaria(1000)
print(cuenta._CuentaBancaria)
#

NameError: name 'CuentaBancaria' is not defined

Encapsulamiento: Ocultar datos internos

__atributo

In [ ]:
class CuentaBancaria:
  def __init__(self, saldo):
    self.__saldo = saldo # atributo privado

    def depositar(self, cantidad):
      self.__saldo += cantidad

    def retirar(self):
      if cantidad > self.__saldo:
        print("Saldo insuficiente")
      else:
        self.__saldo -= cantidad

    def mostrar_saldo(self):
      print(f"Saldo actual: ${self.__saldo}")

    def obtener_saldo(self):
      return self.__saldo

    def establecer_saldo(self, nuevo_saldo):
          if nuevo_saldo >= 0:
            self.__saldo = nuevo_saldo
          else:
            print("El saldo no puede ser negativo")

In [ ]:
cuenta = CuentaBancaria(1000)
cuenta.depositar(500)
cuenta.mostrar_saldo()

print("Saldo leído con getter:", cuenta.obtener_saldo())

cuenta.establecer_saldo(2500)
cuenta.mostrar_saldo()

Saldo actual: $1500
Saldo leído con getter: 1500
Saldo actual: $2500

# Polimorfismo

Mismo método, distinto comportamiento animal.hablar( )

In [ ]:
class Gato:
  def hablar(self):
      print("Miau!")

class Perro:
  def hablar(self):
      print("Guau!")

animales = [Gato(), Perro()]

for animal in animales:
  animal.hablar()

Miau!
Guau!

# Manejo de archivos en Python

* Apertura
* Manipulación
* Cierre

In [ ]:
import os

* os.getcwd(): Get Current Working Directory.
* Os.listdir(ruta)
* os.mkdir(ruta): Crear un directorio en la ruta indicada.
* os.makedirs(ruta): crear directorios de forma recursiva
* os.chdir(ruta): Cambiar el directorio de trabajo actual a la ruta especificada.
* os.rmdir(): Elimina un directorio (siempre y cuando esté vacío).
* os.remove(ruta): eliminar un archivo.

In [ ]:
import os.path

* abspath(ruta): devuelve la ruta absoluta del archivo
* basename(ruta): devuelve el últimp componente de laruta que se pasa por un parámetro.
* exists(ruta): comprobar si un directorio existe en la ruta especficada.
* isfile(ruta):  comprobar si la ruta especificada corresponde a un archivo.
* isdir(ruta): comprobar si la ruta especificada corresponde a un directorio.

In [ ]:
directorio_actual = os.getcwd()
print(f"Directorio actual: {directorio_actual}")

Directorio actual: /content

In [ ]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def __str__(self):
        return f"{self.nombre} ({self.edad} años)"

    def guardar(self, archivo):
        # Guarda el objeto en el archivo usando 'a' (agregar)
        with open(archivo, 'a') as f:
            f.write(f"{self.nombre},{self.edad}\n")

    @staticmethod
    def cargar_todas(archivo):
        personas = []
        with open(archivo, 'r') as f:
            for linea in f:
                nombre, edad = linea.strip().split(',')
                personas.append(Persona(nombre, int(edad)))
        return personas

In [ ]:
# Crear varias personas.

personas = [
    Persona("Brenda Nalley", 26),
    Persona("Emilio Paez", 24),
    Persona("Mariana Amparo", 27),
    Persona("Saúl Rodriguez", 30),
    Persona("Gabriel Ramírez", 50),
    Persona("Daniel Ramírez", 50)
]

# Guardar el archivo

# Guardamos en el archivo
with open("personas.txt", "w") as f:
    pass  # Solo para crear o limpiar el archivo

for persona in personas:
    persona.guardar("personas.txt")

print("Personas guardadas en 'personas.txt'")

Personas guardadas en 'personas.txt'

In [ ]:
# Leer todo el contenido del archivo

# Leer todo el contenido
with open("personas.txt", "r") as archivo:
    print("Contenido completo (read()):")
    print(archivo.read())

# Leer línea por línea con readline()
with open("personas.txt", "r") as archivo:
    print("Primera línea (readline()):")
    print(archivo.readline().strip())
    print("Segunda línea (readline()):")
    print(archivo.readline().strip())

# Leer todas las líneas como lista
with open("personas.txt", "r") as archivo:
    lineas = archivo.readlines()
    print("Todas las líneas (readlines()):")
    print(lineas)

Contenido completo (read()):
Brenda Nalley,26
Emilio Paez,24
Mariana Amparo,27
Saúl Rodriguez,30
Gabriel Ramírez,50
Daniel Ramírez,50

Primera línea (readline()):
Brenda Nalley,26
Segunda línea (readline()):
Emilio Paez,24
Todas las líneas (readlines()):
['Brenda Nalley,26\n', 'Emilio Paez,24\n', 'Mariana Amparo,27\n', 'Saúl Rodriguez,30\n', 'Gabriel Ramírez,50\n', 'Daniel Ramírez,50\n']

In [ ]:
# Usar el método clase para cargar todas las personas desde el archivo.

personas_cargadas = Persona.cargar_todas("personas.txt")
print("Personas cargadas desde el archivo:")
for persona in personas_cargadas:
    print(persona)

Personas cargadas desde el archivo:
Brenda Nalley (26 años)
Emilio Paez (24 años)
Mariana Amparo (27 años)
Saúl Rodriguez (30 años)
Gabriel Ramírez (50 años)
Daniel Ramírez (50 años)



---

# Minisistema de Gestión de Estudiantes

In [ ]:
import json

In [ ]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def to_dict(self):
        return {"nombre": self.nombre, "edad": self.edad}

class Estudiante(Persona):
    def __init__(self, nombre, edad, matricula, carrera):
        super().__init__(nombre, edad)
        self.matricula = matricula
        self.carrera = carrera
        self.calificaciones = []

    def agregar_calificacion(self, materia, calificacion):
        self.calificaciones.append({"Materia:": materia, "Calificación": calificacion})
        print(f"Se agregó la calificación de {materia}: {calificacion} a {self.nombre}")

    def promedio(self):
      if not self.calificaciones:
        return 0
      total = sum(calificacion["Calificación"] for calificacion in self.calificaciones)
      return total / len(self.calificaciones)

    def to_dict(self):
        data = super().to_dict()
        data.update({
            "matricula": self.matricula,
            "carrera": self.carrera,
            "calificaciones": self.calificaciones
        })
        return data

    def from_dict(cls, data):
      e = cls(data["nombre"], data["edad"], data["matricula"], data["carrera"])
      e.calificaciones = data.get("calificaciones", [])
      return e

#
class Profesor(Persona):
    def __init__(self, nombre, edad, departamento):
        super().__init__(nombre, edad)
        self.departamento = departamento

    def calificar(self, estudiante, materia, calificacion):
        estudiante.agregar_calificacion(materia, calificacion)

    def to_dict(self):
        data = super().to_dict()
        data.update({
            "departamento": self.departamento
        })
        return data

    def from_dict(cls, data):
      return cls(data["nombre"], data["edad"], data["departamento"])

In [ ]:
from pickle import load
import json

class Universidad:
    def __init__(self, nombre, archivo_datos="universidad.json"):
        self.nombre = nombre
        self.estudiantes = []
        self.profesores = []
        self.archivo_datos = archivo_datos


    def agregue_estudiante(self, estudiante):
          self.estudiantes.append(estudiante)



    def agregar_profesor(self, profesor):
          self.profesores.append(profesor)

    def listar_profesores(self):
          print(f"Profesores de {self.nombre}:")
          for profesor in self.profesores:
              print(f"- {profesor.nombre} ({profesor.departamento})")


    def guardar_datos(self):
          data = {
              "nombre": self.nombre,
              "estudiantes": [e.to_dict() for e in self.estudiantes],
              "profesores": [p.to_dict() for p in self.profesores]
          }
          with open(self.archivo_datos, "w") as f:
              json.dump(data, f, indent=4)
          print("Datos guardados correctamente")


    def cargar_datos(self):
          try:
              with open(self.archivo_datos, "r") as f:
                  data = json.load(f)
              self.nombre = data["nombre"]
              self.estudiantes = [Estudiante.from_dict(e) for e in data["estudiantes"]]
              self.profesores = [Profesor.from_dict(p) for p in data["profesores"]]
              print("Datos cargados correctamente")
          except FileNotFoundError:
              print(f"El archivo {self.archivo_datos} no existe. Se creará uno nuevo.")

In [ ]:
# Crear Universidad

uni = Universidad("Universidad Tecmilenio")


prof1 = Profesor("Juan Perez", 35, "Ingeniería")
prof2 = Profesor("María Rodríguez", 40, "Medicina")


est1 = Estudiante("Ana García", 20, "12345", "Ingeniería")
est2 = Estudiante("Carlos López", 22, "67890", "Medicina")

uni.agregar_profesor(prof1)
uni.agregar_profesor(prof2)

uni.agregue_estudiante(est1)
uni.agregue_estudiante(est2)

prof1.calificar(est1, "Matemáticas", 85)
prof1.calificar(est2, "Química", 92)
prof2.calificar(est1, "Anatomía", 78)
prof2.calificar(est2, "Fisiología", 88)

uni.guardar_datos()

Se agregó la calificación de Matemáticas: 85 a Ana García
Se agregó la calificación de Química: 92 a Carlos López
Se agregó la calificación de Anatomía: 78 a Ana García
Se agregó la calificación de Fisiología: 88 a Carlos López
Datos guardados correctamente

In [ ]:
import random

class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species
        self.age = random.randint(1, 15) # Random age between 1 and 15

    def describe(self):
        print(f"Name: {self.name}, Species: {self.species}, Age: {self.age}")

# Example usage:
# my_animal = Animal("Buddy", "Dog")
# my_animal.describe()

### Actividad 6. Uso de funciones, archivos, objetos y clases en Python

Escribe un programa en Python que realice lo siguiente:

* Codifica una función que reciba una lista como argumento y que genere un diccionario como salida.
* El diccionario generado debe tener las siguientes llaves (claves): nombre, apellido y edad.
* Genera la lista de entrada con valores ficticios de posibles personas reales.
* Ejecuta el programa tres veces con valores diferentes y almacena todos los resultados en la estructura de datos más adecuada para la situación planteada.
* Escribe el diccionario del ejercicio anterior en un archivo CSV o JSON.
Usando alguna de las funciones de lectura de Python, despliega el contenido de lo anterior.
* Por medio de la clase persona, modela la información del ejercicio anterior y crea una instancia que contenga tu nombre, apellido y edad como atributos.